@import "_styles";
@import "_header";
@import "_footer";


// intro
.intro {
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @media (min-width: 1024px) {
        background-position: center;
    }
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -5;
    &__title {
        font-weight: 700;
        color: #fff;
        font-size: 55px;
        padding-bottom: 35px;
        @media (max-width: 768px) {
            font-size: 40px;
            padding-bottom: 20px;
        }

        transform: translate(0px, 120%);
        opacity: 0;
        transition: 0.9s;
        &._active {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
    &__subtitle {
        font-weight: 500;
        color: #fff;
        font-size: 25px;
        line-height: 35px;
        @media (max-width: 768px) {
            font-size: 20px;
        }

        transform: translate(0px, 220%);
        opacity: 0;
        transition: 0.9s;
        &._active {
            transform: translate(0, 0);
            opacity: 1;
            transition: 0.9s;
        }
    }
}
// about 
.about {
    &__title {
        @extend %title;
        &._anim-show {
            transform: translate(0px, -120%);
            opacity: 0;
            transition: 0.9s all ease;
            z-index: -10;
        }
        &._anim-show &-block._active,
        &-block._active ._anim-show {
            opacity: 1;
            transform: translate( 0,0);
        }
    }
    &__content {
        display: flex;
        align-items: center;
        background: linear-gradient(#fbfbfb, #fff);
        padding: 100px 0;
        @media (max-width: 1160px) {
            flex-direction: column; 
            padding: 50px 0 0 0;
        }
    }
    &__item {
        flex: 0 0 100%;
    }
    &__info {
        &-title._anim-show &._active,
        &._active &-title._anim-show {
            opacity: 1;
            transform: translate( 0,0);
        }
        &-text._anim-show &._active,
        &._active &-text._anim-show {
            opacity: 1;
            transform: translate( 0,0);
        }
        @media (min-width: 1161px) {
            max-width: 550px;
        }
        &-title {
            font-size: 38px;
            padding-bottom: 20px;
            font-weight: 600;
            @media (max-width: 768px) {
                font-size: 30px;
            }
            &._anim-show {
                transform: translate(-120%, 0);
                opacity: 0;
                transition: 0.9s opacity ease 0.2s, 0.9s transform ease;
            }
        }
        &-text {
            font-size: 19px;
            font-weight: 300;
            line-height: 35px;
            &._anim-show {
                transform: translate(-120%, 0);
                opacity: 0;
                transition: 0.9s opacity ease 0.2s, 0.9s transform ease;
            }
            @media (max-width: 768px) {
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
    &__img {
        flex: 0 0 50%;
        &-picture._anim-show &._active,
        &._active &-picture._anim-show {
            opacity: 1;
            transform: translate( 0,0);
        }
        @media (min-width: 1161px) {
            transform: translate(-90%, 0);
        }
        @media (max-width: 1160px) {
            padding-top: 60px;
        }
        &-picture {
            height: 500px;
            &._anim-show {
                transform: translate(110%, 120%);
                opacity: 0;
                transition: 0.9s opacity ease 0.2s, 0.9s transform ease;
            }
        }
    }
}
// quality
.quality {
    &__title {
        @extend %title;
        &._anim-show {
            transform: translate(0px, -120%);
            opacity: 0;
            transition: 0.9s all ease;
        }
        &._anim-show &-block._active,
        &-block._active ._anim-show {
            opacity: 1;
            transform: translate( 0,0);
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 1139px) {
            justify-content: center;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 105px;
        &-anim {
            &._anim-show {
                transform: translate(0%, 70%);
                opacity: 0;
                transition: 0.9s opacity ease 0.2s, 0.9s transform ease;
            }
            &._anim-show .quality__block._active,
            .quality__block._active &._anim-show {
                transform: translate(0,0);
                opacity: 1;
            }
        }
        @media (min-width: 1140) {
            &:nth-child(2) {
                margin: 0 55px;
            }
            &:nth-child(5) {
                margin: 0 55px;
            }
        }
        @media (max-width: 1139px) {
            margin: 0 30px;
        }
        @media (min-width: 821px) {
            max-width: 330px;
        }
        @media (max-width: 820px) {
            width: 100%;
            margin: 0;
        }
        &-icon {
            margin: 0px auto;
            background: #484848;
            width: 100px;
            height: 100px;
            border-radius: 100px;
            box-shadow: 0px 0px 37px 8px #00000040;
            display: flex;
            justify-content: center;
            align-items: center;
            & i {
                color: #fff;
                font-size: 41px;
                padding-left: 2px;
                &.fas.fa-gem {
                    padding-top: 6px;
                }
            }
            & p {
                color: #fff;
                font-size: 46px;
                font-weight: 600;
            }
        }
        &-title {
            font-size: 24px;
            font-weight: 600;
            padding: 25px 0;
            @media (max-width: 768px) {
                font-size: 22px;
            }
        }
        &-text {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            @media (max-width: 768px) {
                font-size: 15px;
            }
        }
    }
}
// service
.service {
    background: linear-gradient(#fbfbfb, #fff);
    &__title {
        @extend %title;
        &._anim-show {
            transform: translate(0px, -120%);
            opacity: 0;
            transition: 0.9s all ease;
        }
        &._anim-show &-block._active,
        &-block._active ._anim-show {
            opacity: 1;
            transform: translate( 0,0);
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 150px;
        @media (max-width: 1220px) {
            flex-direction: column;
            align-items: center;
            padding-bottom: 100px;
        }
    }
    &__block {
        position: relative;
        max-width: 360px;
        background: #fff;
        box-shadow: 0px 7px 13px 8px #A8A8A840;
        border-top: 15px solid #484848;
        &._anim-show {
            transform: translate(0%, -70%);
            opacity: 0;
            transition: 0.9s opacity ease 0.2s, 0.9s transform ease;
        }
        &._anim-show .service__content._active,
        .service__content._active &._anim-show {
            transform: translate(0,0);
            opacity: 1;
        }
        @media (min-width: 769px) {
            &:hover > &-img .img-2 {
                transform: scale(1.5);
                transition: 0.3s all;
            }
            &:hover > &-img .img-1 {
                transform: scale(1.5);
                transition: 0.3s all;
            }
            &:hover > &-img .img-3 {
                transform: scale(1.5);
                transition: 0.3s all;
            }
        }
        @media (max-width: 1220px) {
            max-width: 460px;
            margin-bottom: 60px;
        }
        &-title {
            font-weight: 500;
            font-size: 27px;
            text-align: center;
            padding: 30px 0;
            @media (max-width: 768px) {
                font-size: 24px;
                padding: 28px 0;
            }
        }
        &-text {
            padding: 0 25px;
            @media (max-width: 425px) {
                padding: 0 20px;
            }
        }
        &-info {
            font-weight: 400;
            font-size: 15px;
            text-align: center;
            color: #4b4b4b;
            line-height: 25px;
            padding-bottom: 100px;
        }
        &-price {
            position: absolute;
            bottom: 25px;
            right: 25px;
            font-weight: 500;
            color: #6AAD5F;
            font-size: 18px;
            text-align: right;
        }
        &-img {
            overflow: hidden;
            display: block;
            height: 230px;
            & .img-1 {
                background: url('../img/service1.jpg') center no-repeat;
                background-size: cover;
                width: 100%;
                height: 100%;
                transition: 0.3s all;
            }
            & .img-2 {
                background: url('../img/service2.jpeg') center no-repeat;
                background-size: cover;
                width: 100%;
                height: 100%;
                transition: 0.3s all;
            }
            & .img-3 {
                background: url('../img/service3.jpg') center no-repeat;
                background-size: cover;
                width: 100%;
                height: 100%;
                transition: 0.3s all;
            }
        }
    }
}
// review 
.review {
    position: relative;
    background: #2c2c2c;
    &__map {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate( -50%, -50% );
        opacity: 0.5;
        & img {
            max-width: 1000px;
        }
    }
    &__container {
        padding-bottom: 100px;
    }
    &__title {
        @extend %title;
        color: #fff;
        &._anim-show {
            transform: translate(0px, -120%);
            opacity: 0;
            transition: 0.9s all ease;
        }
        &._anim-show &-block._active,
        &-block._active ._anim-show {
            opacity: 1;
            transform: translate( 0,0);
        }
        &:before {
            background: #fff;
        }
    }
    &__slider {
        max-width: 800px;
        &._anim-show {
            transform: translate(0,-100%);
            opacity: 0;
            transition: 0.9s all ease;
        }
        &._anim-show .review__container._active,
        .review__container._active &._anim-show {
            transform: translate(0);
            opacity: 1;
        }
        &-text {
            @media (min-width: 769px) {
                max-width: 80%;
                height: 120px;
            }
            margin: 0px auto;
            color: #fff;
            font-size: 14px;
            line-height: 30px;
            font-weight: 400;
            text-align: center;
            @media (max-width: 768px){
                font-size: 13px;
            }
        }
        &-autor {
            color: #60A9FF;
            font-weight: 500;
            font-size: 20px;
            text-align: center;
            padding-toP: 30px;
        }
        & .swiper-pagination-bullet {
            height: 13px;
            width: 13px;
            &-active {
                background: #fff;
            }
        }
        & .swiper-button-next, .swiper-button-prev {
            top: 30%;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}
.swiper {
    &-wrapper {
        padding-bottom: 60px;
    }
    &-button {
        &-prev, &-next {

            &:after {
                color: #fff;
            }
        }
    }
}
// footer 
footer {
    padding: 16 20px 30px;
}